.list-item{
    display:flex;
    flex-direction:column;
    background: #8fa8ba42;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    border: 4px solid #001c30;
}
.tasks-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    
}
.low-priority{
    border-color: rgb(229, 240, 62);
    box-shadow: 0 0 20px rgb(229, 240, 62);
}
.medium-priority{
    border-color: blue;
    box-shadow: 0 0 20px #134fbd;

}
.high-priority{
    border-color: red;
    box-shadow: 0 0 20px #a53131;
}
.search-button{
    cursor: pointer;
    width: 100px;
    height: 103px;
    background: #a1bccf;
    border: transparent;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 25px;
    font-weight: 700;
    color: #001c30;
    
}
.search-input{
    width: 860px;
    line-height: 100px;
    font-size: 25px;
    padding-left: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
}
.search-form{
    display: flex;
    margin-bottom:25px;
}
.container-search{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.search-label{
    font-size: 50px;
    letter-spacing: 10px;
    color: #001c30;
    font-family: cursive;
}
.delete-task{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #dafffb;
    background: #001c30;
    text-align: center;
    align-self: flex-end;
    margin-top: -20px;
    margin-right: -20px;
}
.did-task{
    background: #28303642;
    border:black;
    box-shadow: none;
    text-decoration: line-through;
}
#did-task{
    width:fit-content;
    align-self: center;
}