.form-container{
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
    width: fit-content;
}
label{
    display: flex;
    color: #001c30;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
textarea, input{
    width: 300px;
    border-radius: 5px;
    background-color: #001c30;
    line-height: 32px;
    border: 0;
    color:#dafffb;
}
.create_form{
    border-radius:5px;
    border: 1px solid  #001c30;
    width:fit-content;
    padding:40px;
    
}
.create{
   
    font-size: 30px;
}
.btn{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    padding: 5px 10px;
    display: block;
    border: 0px;
    max-width: 230px;
    min-width: 100px;
    width: fit-content;
    border-radius: 4px;
    background: #001c30;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: #dafffb;
    letter-spacing: 2px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-container{
    background: #cae9ff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1000px;
}
